@import "tailwindcss";

/* Custom scrollbar styles for elements with .custom-scrollbar class */
.custom-scrollbar::-webkit-scrollbar {
    width: 10px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #f9622e;
    border-radius: 40px;
    border: 2px solid #f3f4f6;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #e0501e;
}